openapi: 3.1.0
info:
  title: Trans-Atlas API — Спринт 0
  version: 1.0.0
  description: |
    Мінімальний транзакційний контракт біржі: акаунти, компанії, заявки, довідники, журнал подій.
    Пошук маршрутів (SEARCH), верифікація (напрям A), ingest (напрям B) і стрічка реального часу
    (напрям C) в цю версію свідомо не входять — вони отримають окремі контракти.

    Правила, спільні для всіх ендпоінтів:
      * Час — RFC 3339 UTC. Дати — ISO 8601 (`YYYY-MM-DD`).
      * Гроші — десятковий рядок, ніколи `number`.
      * Помилка — RFC 9457 `application/problem+json`.
      * Усі мутації приймають заголовок `Idempotency-Key`.
      * Пагінація — курсорна: `?limit=&cursor=`; зміщення сторінок не підтримується.
servers:
  - url: https://api.trans-atlas.net
    description: production
  - url: http://localhost:8787
    description: локальна розробка

tags:
  - name: auth
  - name: listings
  - name: companies
  - name: reference
  - name: events
  - name: ops

security:
  - bearerAuth: []

paths:
  /api/v1/health:
    get:
      tags: [ops]
      summary: Стан сервісу та залежностей
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [status, db, redis, version, time]
                properties:
                  status: {type: string, enum: [ok, degraded]}
                  db: {type: string, enum: [ok, down]}
                  redis: {type: string, enum: [ok, down]}
                  version: {type: string}
                  time: {type: string, format: date-time}

  /api/v1/auth/register:
    post:
      tags: [auth]
      summary: Реєстрація компанії та першого користувача
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/RegisterRequest"}
      responses:
        "201":
          description: Створено; на email надіслано лист підтвердження
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SessionResponse"}
        "409": {$ref: "#/components/responses/Conflict"}
        "422": {$ref: "#/components/responses/Validation"}
        "429": {$ref: "#/components/responses/RateLimited"}

  /api/v1/auth/login:
    post:
      tags: [auth]
      summary: Вхід
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string, minLength: 10, maxLength: 200}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SessionResponse"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "429": {$ref: "#/components/responses/RateLimited"}

  /api/v1/auth/refresh:
    post:
      tags: [auth]
      summary: Оновлення пари токенів (ротація refresh-токена)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: {type: string}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/SessionResponse"}
        "401": {$ref: "#/components/responses/Unauthorized"}

  /api/v1/auth/logout:
    post:
      tags: [auth]
      summary: Відкликання поточного refresh-токена
      responses:
        "204": {description: Вийшли}
        "401": {$ref: "#/components/responses/Unauthorized"}

  /api/v1/auth/verify-email:
    post:
      tags: [auth]
      summary: Підтвердження email за одноразовим токеном
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: {type: string}
      responses:
        "204": {description: Підтверджено}
        "400": {$ref: "#/components/responses/Validation"}

  /api/v1/auth/me:
    get:
      tags: [auth]
      summary: Поточний користувач і компанія
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Me"}
        "401": {$ref: "#/components/responses/Unauthorized"}

  /api/v1/listings:
    get:
      tags: [listings]
      summary: Стрічка заявок із фільтрами
      description: |
        Набір фільтрів дослівно повторює `filteredListings()` у SPA, щоб перенесення
        не змінило поведінку пошуку. Відповідність параметрів і полів `state.filters`
        зафіксована у `ci/check_backend_contract.py` (перевірка F).
      security: []
      parameters:
        - {name: kind, in: query, schema: {enum: [cargo, transport]}, description: state.filters — вибір вкладки}
        - {name: mode, in: query, schema: {enum: [auto, rail, sea, air, multi, drone]}, description: state.filters.mode}
        - name: components
          in: query
          explode: false
          style: form
          schema: {type: array, items: {enum: [auto, rail, sea, air]}}
          description: state.filters.multiModes — застосовується лише при mode=multi
        - {name: origin_city_id, in: query, schema: {type: string}, description: state.filters.from}
        - {name: destination_city_id, in: query, schema: {type: string}, description: state.filters.to}
        - {name: origin_country, in: query, schema: {type: string, pattern: "^[A-Z]{2}$"}, description: state.filters.fromCountry}
        - {name: destination_country, in: query, schema: {type: string, pattern: "^[A-Z]{2}$"}, description: state.filters.toCountry}
        - {name: border_scope, in: query, schema: {enum: [international, domestic]}, description: state.filters.borderScope}
        - {name: currency, in: query, schema: {type: string, pattern: "^[A-Z]{3,4}$"}, description: state.filters.currency}
        - {name: cargo_type_id, in: query, schema: {type: string}}
        - {name: date_from, in: query, schema: {type: string, format: date}}
        - {name: date_to, in: query, schema: {type: string, format: date}}
        - {name: company_id, in: query, schema: {type: string, format: uuid}}
        - {name: status, in: query, schema: {enum: [active, paused, expired, closed]}}
        - {name: sort, in: query, schema: {enum: [created_desc, date_asc, price_desc], default: created_desc}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 30}, description: типове значення дорівнює PAGE_SIZE у SPA}
        - {name: cursor, in: query, schema: {type: string}}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/ListingPage"}
        "422": {$ref: "#/components/responses/Validation"}
    post:
      tags: [listings]
      summary: Публікація заявки
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 8, maxLength: 128}}
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ListingCreate"}
      responses:
        "201":
          description: Створено
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Listing"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "403":
          $ref: "#/components/responses/Forbidden"
        "409": {$ref: "#/components/responses/Conflict"}
        "422": {$ref: "#/components/responses/Validation"}

  /api/v1/listings/{id}:
    parameters:
      - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
    get:
      tags: [listings]
      summary: Одна заявка
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Listing"}
        "404": {$ref: "#/components/responses/NotFound"}
    patch:
      tags: [listings]
      summary: Редагування власної заявки
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: "#/components/schemas/ListingPatch"}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Listing"}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}
        "422": {$ref: "#/components/responses/Validation"}
    delete:
      tags: [listings]
      summary: Зняття заявки (м'яке, status=removed)
      responses:
        "204": {description: Знято}
        "403": {$ref: "#/components/responses/Forbidden"}
        "404": {$ref: "#/components/responses/NotFound"}

  /api/v1/listings/{id}/contact:
    post:
      tags: [listings]
      summary: Запит контактів автора заявки
      description: Розкриття контактів фіксується в журналі подій — це основний сигнал попиту для майбутнього матчингу.
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [phone, email, company]
                properties:
                  phone: {type: string}
                  email: {type: string, format: email}
                  company: {$ref: "#/components/schemas/CompanyRef"}
        "401": {$ref: "#/components/responses/Unauthorized"}
        "429": {$ref: "#/components/responses/RateLimited"}

  /api/v1/companies/{id}:
    get:
      tags: [companies]
      summary: Публічний профіль компанії
      security: []
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {$ref: "#/components/schemas/Company"}
        "404": {$ref: "#/components/responses/NotFound"}

  /api/v1/reference/cities:
    get:
      tags: [reference]
      summary: Довідник міст
      security: []
      parameters:
        - {name: continent, in: query, schema: {enum: [europe, asia, africa, america, australia]}}
        - {name: country, in: query, schema: {type: string, pattern: "^[A-Z]{2}$"}}
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items: {type: array, items: {$ref: "#/components/schemas/City"}}

  /api/v1/reference/cargo-types:
    get:
      tags: [reference]
      summary: Довідник типів вантажу
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items: {type: array, items: {$ref: "#/components/schemas/CargoType"}}

  /api/v1/reference/currencies:
    get:
      tags: [reference]
      summary: Довідник валют
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items: {type: array, items: {$ref: "#/components/schemas/Currency"}}

  /api/v1/events:
    post:
      tags: [events]
      summary: Пакетний запис подій інтерфейсу
      description: |
        Журнал подій ведеться з першого дня — це навчальний набір для матчингу і прогнозу ставок.
        Сервер довіряє клієнту лише тип події та об'єкт; актора, час і IP проставляє сам.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                events:
                  type: array
                  maxItems: 100
                  items:
                    type: object
                    required: [kind, occurred_at]
                    properties:
                      kind: {enum: [listing_view, listing_impression, search, contact_reveal, filter_change]}
                      listing_id: {type: string, format: uuid}
                      occurred_at: {type: string, format: date-time}
                      payload: {type: object, additionalProperties: true}
      responses:
        "202": {description: Прийнято}
        "422": {$ref: "#/components/responses/Validation"}

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Немає або недійсний токен
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}
    Forbidden:
      description: Немає прав на об'єкт або дію
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}
    NotFound:
      description: Об'єкт не знайдено
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}
    Conflict:
      description: Конфлікт стану або повтор Idempotency-Key з іншим тілом
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}
    Validation:
      description: Тіло або параметри не пройшли валідацію схеми
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}
    RateLimited:
      description: Перевищено ліміт запитів
      content:
        application/problem+json:
          schema: {$ref: "#/components/schemas/Problem"}

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: {type: string, format: uri}
        title: {type: string}
        status: {type: integer}
        detail: {type: string}
        instance: {type: string}
        errors:
          type: array
          items:
            type: object
            required: [pointer, code]
            properties:
              pointer: {type: string, description: JSON Pointer на поле}
              code: {type: string}
              message: {type: string}

    RegisterRequest:
      type: object
      required: [email, password, full_name, company]
      properties:
        email: {type: string, format: email}
        password:
          type: string
          minLength: 10
          maxLength: 200
          description: Мінімум 10 символів; перевіряється за списком скомпрометованих паролів
        full_name: {type: string, minLength: 2, maxLength: 120}
        phone: {type: string, maxLength: 32}
        locale: {type: string, enum: [uk, en, pl, de], default: uk}
        company:
          type: object
          required: [legal_name, country]
          properties:
            legal_name: {type: string, minLength: 2, maxLength: 200}
            country: {type: string, pattern: "^[A-Z]{2}$"}
            tax_id: {type: string, maxLength: 32, description: ЄДРПОУ або VAT; у Спринті 0 лише зберігається, перевірка — напрям A}

    SessionResponse:
      type: object
      required: [access_token, refresh_token, expires_in, user, company]
      properties:
        access_token: {type: string}
        refresh_token: {type: string}
        expires_in: {type: integer, description: секунди життя access-токена}
        user: {$ref: "#/components/schemas/User"}
        company: {$ref: "#/components/schemas/CompanyRef"}

    Me:
      type: object
      required: [user, company, permissions]
      properties:
        user: {$ref: "#/components/schemas/User"}
        company: {$ref: "#/components/schemas/CompanyRef"}
        permissions: {type: array, items: {type: string}}

    User:
      type: object
      required: [id, email, full_name, email_verified, role, created_at]
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        full_name: {type: string}
        phone: {type: string}
        locale: {type: string}
        email_verified: {type: boolean}
        role: {enum: [owner, manager, viewer]}
        created_at: {type: string, format: date-time}

    CompanyRef:
      type: object
      required: [id, display_name, verification_level]
      properties:
        id: {type: string, format: uuid}
        display_name: {type: string}
        verification_level: {enum: [L0, L1, L2]}
        verified_at: {type: [string, "null"], format: date-time}

    Company:
      allOf:
        - $ref: "#/components/schemas/CompanyRef"
        - type: object
          required: [legal_name, country, created_at]
          properties:
            legal_name: {type: string}
            country: {type: string, pattern: "^[A-Z]{2}$"}
            tax_id: {type: [string, "null"]}
            active_listings: {type: integer}
            created_at: {type: string, format: date-time}

    Listing:
      $ref: "https://trans-atlas.net/schemas/listing.schema.json"

    ListingCreate:
      type: object
      additionalProperties: false
      required: [kind, mode, origin_city_id, destination_city_id, ready_date, cargo_type_id, weight_kg, price_amount, price_currency]
      properties:
        kind: {enum: [cargo, transport]}
        mode: {enum: [auto, rail, sea, air, multi, drone]}
        components:
          type: array
          items: {enum: [auto, rail, sea, air]}
          minItems: 2
          uniqueItems: true
        origin_city_id: {type: string}
        destination_city_id: {type: string}
        ready_date: {type: string, format: date}
        cargo_type_id: {type: string}
        weight_kg: {type: string, pattern: "^(0|[1-9][0-9]{0,12})(\\.[0-9]{1,3})?$"}
        volume_m3: {type: string, pattern: "^(0|[1-9][0-9]{0,12})(\\.[0-9]{1,3})?$"}
        price_amount: {type: string, pattern: "^(0|[1-9][0-9]{0,12})(\\.[0-9]{1,2})?$"}
        price_currency: {type: string, pattern: "^[A-Z]{3,4}$"}
        price_kind: {enum: [fixed, negotiable, request], default: fixed}
        expires_at: {type: string, format: date-time}
        drone:
          type: object
          required: [range_km, max_payload_kg, drone_type, flight_permit]
          properties:
            range_km: {type: string}
            max_payload_kg: {type: string}
            drone_type: {type: string}
            flight_permit: {type: boolean}

    ListingPatch:
      type: object
      additionalProperties: false
      properties:
        ready_date: {type: string, format: date}
        weight_kg: {type: string}
        volume_m3: {type: string}
        price_amount: {type: string}
        price_currency: {type: string}
        price_kind: {enum: [fixed, negotiable, request]}
        status: {enum: [active, paused, closed]}
        expires_at: {type: string, format: date-time}

    ListingPage:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items: {$ref: "#/components/schemas/Listing"}
        page:
          type: object
          required: [limit, has_more]
          properties:
            limit: {type: integer}
            next_cursor: {type: [string, "null"]}
            has_more: {type: boolean}
            total_estimate: {type: [integer, "null"], description: приблизна оцінка; точний COUNT на кожен запит не робиться}

    City:
      type: object
      required: [id, country, continent, lat, lon, names]
      properties:
        id: {type: string}
        country: {type: string, pattern: "^[A-Z]{2}$"}
        continent: {enum: [europe, asia, africa, america, australia]}
        lat: {type: number}
        lon: {type: number}
        icao: {type: [string, "null"]}
        names:
          type: object
          required: [uk, en]
          properties:
            uk: {type: string}
            en: {type: string}
            pl: {type: string}
            de: {type: string}

    CargoType:
      type: object
      required: [id, names]
      properties:
        id: {type: string}
        names:
          type: object
          required: [uk, en]
          additionalProperties: {type: string}

    Currency:
      type: object
      required: [code, symbol, position, kind]
      properties:
        code: {type: string}
        symbol: {type: string}
        position: {enum: [pre, post]}
        kind: {enum: [fiat, crypto]}
